.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main > div {
  background-color: white;
}

.main > div > img {
  margin: 1rem 0;
}

.main > div > p {
  font-size: 5rem;
}

.main > div > p > span {
  color: white;
  background-color: hotpink;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer div {
  display: flex;
  gap: 0.5em;
  background-color: white;
}

.footer p {
  color: hotpink;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 2rem;
  }

  .main > div {
    display: flex;
    flex-direction: column;
  }

  .main > div > p {
    font-size: 2rem;
  }

  .main > div > img {
    width: 150px;
  }

  .footer {
    flex-direction: column;
    justify-content: start;
  }
}
