$red: #ff8184;
$hotred: #de6935;
$beige: #fbf3df;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  background: $beige;
}

a {
  text-decoration: none;
}

.container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1.4fr 1.2fr 1.3fr;
  grid-template-rows: auto 1fr auto;
  padding: 6rem 6rem 0 6rem;
  gap: 2rem;
  font-size: 1.5rem;
  color: $hotred;
}

.page-container {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  gap: 1rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 2.5rem;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $red;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 12px;
  height: -webkit-fill-available;
  cursor: pointer;
  position: relative;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  a {
    height: -webkit-fill-available;
  }
}

.section-2,
.section-3,
.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;

  p {
    color: $hotred;
  }

  a {
    text-decoration: none;
  }
}

.redirect {
  color: #de6935;
  cursor: pointer;
}

.who-we-are-container {
  display: flex;
  align-items: center;
  font-family: var(--font-bricolage);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.active {
  opacity: 1;
}

.who-we-are-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .page-container {
    padding: 2rem;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: relative;
    justify-content: flex-start;

    img {
      display: none;
    }
  }

  .footer {
    display: flex;
    gap: 0;
    align-items: center;
    margin-top: 0rem;
    justify-content: center;
    flex-direction: column;
  }

  .who-we-are-container {
    flex-direction: column-reverse;
  }

  .page-header {
    p {
      font-size: 1.5rem;
    }
  }
}
